<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>

<body>
    <h2>Mis Familiares:</h2>   
    <p>Nombre: {{ familiar.name }}</p>
    <p>Teléfono: {{ familiar.telefono }}</p>
    <p>Fecha de nacimiento: {{ familiar.fecha_nacimiento }}</p>

    <hr style="width:15%;text-align:left;margin-left:0">

    <p>Nombre: {{ familiar1.name }}</p>
    <p>Teléfono: {{ familiar1.telefono }}</p>
    <p>Fecha de nacimiento: {{ familiar1.fecha_nacimiento }}</p>

    <hr style="width:15%;text-align:left;margin-left:0">

    <p>Nombre: {{ familiar2.name }}</p>
    <p>Teléfono: {{ familiar2.telefono }}</p>
    <p>Fecha de nacimiento: {{ familiar2.fecha_nacimiento }}</p>

</body>
</html>